<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--BizTrack Tracking api information-->
    <!-- Use this flag to decide if source is BizTrack -->
    <!--<add key="FileSource" value="BizTrack" />-->
    <add key="Upn" value="xxxxx@microsoft.com" />
    <add key="BaseAddressBiztrackApi" value="" />
    <add key="RelativeAddressResourceMaster" value="api/Track/Master" />
    <add key="RelativeAddressDetail" value="api/Track/Detail?MasterID=" />

    <!--BizTrack auth information-->
    <add key="ITAuthRbacResourceUri" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" />
    <add key="TrackingService/ClientId" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" />
    <add key="TrackingService/ClientSecret" value="" />
    <add key="AADUri" value="https://login.windows.net/microsoft.onmicrosoft.com" />

    <!-- Use this flag to decide if source is Fileshare -->
    <add key="FileSource" value="Fileshare" />
    <add key="FileSourceExpected" value="C:\Testing\output" />
    <!--BizTalkOutput-->
    <add key="FileSourceActual" value="C:\Testing\input" />

    <add key="ABTestSuiteBlobContainerSASToken" value="" />
    <!--Format types allowed are String, Stream in Publishers writing to Blob, File or LA-->
    <add key="ContentType" value="Stream" />

    <!--Telemetry client information-->
    <add key="IntegrationAccountCallbackUrl" value="" />
    <add key="ApplicationLoggingLevel" value="Verbose" />
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Testing\myListener.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.16.0.14" newVersion="3.16.0.14" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.16.0.14" newVersion="3.16.0.14" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
